.changePassword {
  display: block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 59px -16px rgba(71, 71, 71, 1);
  -moz-box-shadow: 0px 0px 59px -16px rgba(71, 71, 71, 1);
  box-shadow: 0px 0px 59px -16px rgba(71, 71, 71, 1);
}
.form_fieldset {
  border: black;
  margin-bottom: 20px;
  padding: 0;
}
.form_center {
  margin: 0 auto;
}
.validate_error {
  border: 2px solid red;
}
